{{>header}}
    <h2>Bienvenido {{nombre}} a la interfaz de {{rol}}</h2>
    <br>
    <h3 style="text-align:center">Tus cursos</h3>

    {{{miscursos aspirante}}}
    <br>


<hr>
  
 <h4 style="color: #343a40">¿Quieres inscribirte a algun curso?</h4>
 {{{selectCursos}}}
    <!-- <h5>Ingresa el id y dale al botón</h5> -->
    <!-- <form action="/matricula" method="post">       


      <label for="id">Id del curso</label>
      <input type="number" name="idcurso2" required id="id">
      <button>Incribirse al curso</button>
    </form> -->
    <br>

    <p style="color:green;">
      <h5>
        {{confirmacion}}
      </h5>
    </p>
    <!-- <h3 style="text-align:center">Cursos disponibles</h3> -->
    <!-- {{{listarDisponibles}}} -->

{{>footer}}
