{{>header}}
    <p>
      Creacion de usuario
    </p>
    <p>
      {{crearUsuario nombre cedula correo telefono}}
    </p>
    <p>
      nombre: {{nombre}}, cedula: {{cedula}}, correo: {{correo}}, telefono: {{telefono}}
    </p>
{{>footer}}
